body {
    padding: 15px;
    background-color: #161616;
    color: aliceblue;
}
/* 
.main_title {
    font-size: 50px;
    font-weight: 500;
    color: brown;
    text-align: center;
    text-decoration: wavy;
    
}

.list li {
    margin-left: 20px;
    margin-bottom: 20px;
}

.list_text{
    font-size: 24px;
}

.text {
    display: inline-block;
    margin-top: 25px;
    font-size: 24px;
}

.backgr{
    background-image: url(../img/scandinavian.avif);
    width: 580px;
    height: 481px;
    background-size: cover;
	background-position: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.bitmap_content {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    color: brown; 
    margin-bottom: 20px;
}
.title{
    font-size: 30px;
    font-weight: 500;
    color: green;
    margin-top: 10px;
}

.hight_resolution{
    width: 500px;
    margin-bottom: 20px;
    display: inline-block;
} */