body {
	font-family: "Poppins", sans-serif;
}

.block_1 {
	background-color: blueviolet;
	padding: 10px;
	margin: 5px;
	width: 300px;
	height: 100px;
	overflow: hidden;
	border: 10px solid red;
}
.block_7 {
	background-color: blueviolet;
	padding: 10px;
	margin: 5px;
	width: 300px;
	height: 100px;
	overflow: scroll;
	border: 10px dashed transparent;
}
.block_2 {
	background-color: blue;
	padding: 20px 15px;
	margin-bottom: 15px;
	max-width: 500px;
	max-height: 500px;
	border: 10px dotted rgba(1, 7, 3, 0.8);
}
.block_3 {
	background-color: yellow;
	padding: 20px 35px 50px;
	margin-left: -44px;
	min-width: 600px;
	min-height: 100px;
	
}
.block_4 {
	background-color: red;
	padding: 10px 20px 30px 40px;
	margin-right: 95px;
	border-top: 50px solid #000;
	border-right: 20px dashed aqua;
	border-bottom: 30px dotted blue;
	border-left: 15px double yellow;
}
.block_5 {
	background-color: yellowgreen;
	padding-top: 50px;
	padding-right: 35px;
	padding-bottom: 100px;
	padding-left: 15px;
	margin: 15px 20px 40px;
	opacity: 0;
}
.block_6 {
	background-color: aqua;
	padding: 15% 5% 4% 20%;
	margin: 15px 20px 35px 10px;
	width: 70%;
	border-radius: 20px 35px 45px 60px;
}

h2 {
	font-size: 20px;
}

.inline {
	border: 3px solid red;
	line-height: 1.4;
}
.inline-block {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	margin: 50px;
	width: 500px;
	height: 500px;
	vertical-align: top;
	border-top: 10px dotted black;
	
}

.block_8 {
	padding: 10px;
	max-width: 500px;
	background-color: brown;
	margin: 0 auto;
	border-radius: 15px;
}
.block_9 {
	color: blue;
	font-size: 40px;
	margin: 20px;
	box-shadow: 5px 10px 20px 30px pink;
}
.block_10 {
visibility: hidden;
}
.link {
	color: green;
	border-radius: 10px;
	outline: 10px solid aqua;
	outline-offset: 5px;
	
}
.circle {
	width: 300px;
	height: 300px;
	background-color: red;
	border-radius: 50%;
}

.part_of_bg {
	font-size: 50px;
	color: aqua;
	text-align: center;
	margin-bottom: 10px;
}

.block_11 {
	color: yellow;
	width: 600px;
	background-image: url(../img/pattern.jfif);
	margin-bottom: 10px;
}

.block_12 {
	background: linear-gradient(24deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
	margin-bottom: 10px;
}

.block_13 {
	color: aqua;
	width: 600px;
	background-image: url(../img/apples.jfif);
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

.block_14 {
	color: aqua;
	width: 600px;
	background-image: url(../img/apples.jfif);
	margin-bottom: 10px;
	background-repeat: repeat-x;
}

.block_15 {
	color: aqua;
	width: 600px;
	height: 700px;
	background-image: url(../img/apples.jfif);
	margin-bottom: 10px;
	background-repeat: repeat-y;
}
.block_16 {
	background-color: green;
	width: 300px;
	height: 600px;
	background-image: url(../img/apples.jfif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.block_17 {
	color: yellow;
	width: 300px;
	background-image: url(../img/apples.jfif);
	background-attachment: fixed;
	margin-bottom: 20px;
}

.block_18 {
	background-image: url(../img/Antonov_An-225.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	
}

.block_19 {
	background-image: url(../img/Antonov_An-225.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;	
}

.block_20 {
	background-image: url(../img/Antonov_An-225.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: text;
	color: transparent;
}

.block_21 {
	width: 500px;
	background:
		url("../img/Antonov_An-225.jpg") center / 250px no-repeat,
		url("../img/apples.jfif") 0 0 / 160px no-repeat,
		linear-gradient(24deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-right: 200px solid rgb(55, 0, 128);
	border-bottom: 100px solid transparent;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid rgb(55, 0, 128);
	border-bottom: 50px solid transparent;

}
.arrow-bottom {
	width: 0;
	height: 0;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
	border-top: 100px solid rgb(55, 0, 128);
}
.arrow-top {
	width: 0;
	height: 0;
	border-right: 50px solid transparent;
	border-left: 50px solid transparent;
	border-bottom: 100px solid rgb(55, 0, 128);
}


.item {
	margin-bottom: 10px;
	background: url(../img/twemoji_diamond-with-a-dot.svg) 0 0 no-repeat;
	padding-left: 26px;
	min-height: 18px;
}

.title {
	font-size: 50px;
	color: red;
	text-transform: uppercase;
	text-align: center;
}

.hw1 {
	width: 100%;
	padding-top: 61px;
	/* padding-left: 682px; */
	padding-bottom: 96px;
	margin-bottom: 20px;
	
	
	background:
	/* url(../img/Meubel\ House_Logos-05.png) 720px 82px / auto 77px no-repeat, */
	/* url(../img/Vector.svg) center 202px / auto 20px no-repeat, */
	url(../img/Rectangle\ 1.jpg) no-repeat;
	background-size: cover;
}

.logo {
	text-align: center;
}


.hw1 h2 {
	font-size: 48px;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	/* margin-left: -78px; */
	/* padding-bottom: 19px; */
	margin-bottom: 20px;
}

.breadcrumbs {
	font-size: 16px;
	text-align: center;
	text-transform: capitalize;
}

.breadcrumbs-item, .breadcrumbs-item-1{
	display: inline-block;
}

.breadcrumbs-link {
	font-weight: 500;
	/* margin-left: -22px; */
	
	
}
.breadcrumbs-item {
	font-weight: 300;
	
}

.breadcrumbs-item-1 {
padding-left: 32px;
background: url(../img/Vector.svg) 15px 0px no-repeat;
}


.catalyst {
	width: 100%;
	background:
	url(../img/bg_catalyst.png) no-repeat;
	background-size: cover;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	padding-top: 94px;
	padding-bottom: 85px;
	text-align: center;
	margin-bottom: 40px;
}

.catalyst h2 {
font-family: Barlow, sans-serif;
font-weight: 800;
font-size: 64px;
line-height: 150%;
text-transform: uppercase;
color: #F9EFEC;
margin-bottom: 17px;
}

.button {
border-radius: 12px;
max-width: 235px;
padding: 10px 24px;
background: #0a84ff;
margin: 0 auto;

}
.button a {
font-family: RobotoFlex, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-transform: capitalize;
color: #fff;
}

.catalyst_about {
	width: 834px;
	padding: 32px 32px 0px 32px;
	background-color: #1a1a1a;
	font-family: Barlow, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #b3b3b2;
	border-radius: 12px;
	margin: 0 auto;
}
.catalyst_about h2 {
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	text-transform: uppercase;
	color: #f9efec;
	padding-bottom: 12px;
}
.catalyst_about p{
	padding-bottom: 32px;
}

.catalyst_about li {
	padding-bottom: 12px;
	background: url(../img/twemoji_diamond-with-a-dot.svg) 0 5px / 16px no-repeat;
	padding-left: 26px;
	min-height: 16px;
}
