body {
	/* font-family: "InterDisplay"; */
	font-family: "Poppins", sans-serif;
}

.block_1 {
	background-color: blueviolet;
	padding: 10px;
	margin: 5px;
	width: 300px;
	height: 100px;
	overflow: hidden;
}
.block_7 {
	background-color: blueviolet;
	padding: 10px;
	margin: 5px;
	width: 300px;
	height: 100px;
	overflow: scroll;
}
.block_2 {
	background-color: blue;
	padding: 20px 15px;
	margin-bottom: 15px;
	max-width: 500px;
	max-height: 500px;
}
.block_3 {
	background-color: yellow;
	padding: 20px 35px 50px;
	margin-left: -44px;
	min-width: 600px;
	min-height: 100px;
}
.block_4 {
	background-color: red;
	padding: 10px 20px 30px 40px;
	margin-right: 95px;
}
.block_5 {
	background-color: yellowgreen;
	padding-top: 50px;
	padding-right: 35px;
	padding-bottom: 100px;
	padding-left: 15px;
	margin: 15px 20px 40px;
}
.block_6 {
	background-color: aqua;
	padding: 15% 5% 4% 20%;
	margin: 15px 20px 35px 10px;
	width: 70%;
}

h2 {
	font-size: 20px;
}

.inline {
	background-color: green;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 500px;
	height: 200px;
	display: block;
}
.inline-block {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 20px;
	margin: 50px;
	width: 500px;
	height: 500px;
	vertical-align: top;
}

.block_8 {
	padding: 10px;
	max-width: 500px;
	background-color: brown;
	margin: 0 auto;
}
h3 {
	font-size: 50px;
	text-align: center;
}
.homework {
	width: 643px;
	background-color: #FFF3E3;
	padding: 62px 40px 37px 40px;
	margin: 0 auto;
	
}

.bottom {
	background-color: #B88E2F;
	padding: 25px 72px;
	width: 222px;
	height: 74px;
	margin-top: 46px;
	
}
.name_of_buttom {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	
}
.text_1 {
	font-size: 16px;
	color: #333;
	font-weight: 600;
	letter-spacing: 3px;
}
.text_2 {
	font-size: 52px;
	font-weight: 700;
	color: #b88e2f;
	line-height: 65px;
}
.text_3 {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	line-height: 24px;
}

.homework_ex {
	width: 600px;
	background-color: #dd963a;
	padding: 5%;
	margin: 0 auto;
}
.text_1_ex {
	font-size: 16px;
	color: #333;
	font-weight: 600;
	letter-spacing: 4px;
	text-transform: capitalize;
}
.text_2_ex {
	font-size: 52px;
	font-weight: 700;
	color: blue;
	line-height: 65px;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: aqua;
}

.text_3_ex {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	line-height: 24px;
}
.bottom_ex {
	background-color: #B88E2F;
	padding: 25px 60px;
	width: 222px;
	height: 74px;
	margin-top: 46px;
}
.name_of_buttom_ex {
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}